.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  background-color: antiquewhite;
  border-radius: 10px;
}

.meals ul {
  list-style: none;
  margin: 5;
  padding: 3;
}
/* .meals li {
  padding-bottom: 0.5rem;
  
}
.meals h2 {
  font-size: medium;
  font-weight: bold;
}
.meals h3 {
  font-size: medium;
  font-weight: bold;
  color: brown;
}
.meals h4 {
  font-size: small;
  font-style: italic;
} */

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
